<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">  
    <script src="https://unpkg.com/vue@2.6.13"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script async src="index.js"></script>
    <title>Automator</title>
  </head>
  <body>
    <header>Home | 
      We are using Node.js <span id="node-version"></span>,
      Chromium <span id="chrome-version"></span>,
      Electron <span id="electron-version"></span>,
      and Vue.
    </header>

    <div id="menu-container">
      <a href="./tabs/python/python.html"><button class="content-btn">Python</button></a>
      <a href="./tabs/router/router.html"><button class="content-btn">Router Test</button></a>
      <button v-on:click="displayPing" class="content-btn">Ping Main</button>
    </div>

    <div v-if="contentType" id="content-container">
      <div v-if="contentType === 'pinger'" id="pinger">
        <p id="content-title" style="text-align: center;">{{ title }}</p>
        <p v-if="contentData" style="text-align: center;">Received message: {{ contentData }}</p>
      </div>
    </div>

  </body>
</html>